body { padding: 70px 0 0 0; }
nav { opacity: 0.9; }
nav:hover { opacity: 1.0; }

.margin20 { margin: 0 0 20px 0; }

.navbar-default {
	background-image: none;
	background-color: #FFFFFF;
	border-color: #DADFE1;
	opacity: 0.9;
}
.navbar-default:hover {
	opacity: 1.0;
}
.navbar-default .navbar-nav>.active>a { background-image: none; background-color: #DADFE1; box-shadow: none; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555555;
	background-color: #e9eef0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgba(238, 242, 243, 0.91);
	color: #555555;
}
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555555;
		background-color: #ECF0F1;
	}
}

.navbar-brand { padding: 10px 15px 15px 15px; }
.navbar-brand img { height: 32px; }

.dropdown-menu{ border: 1px solid #e7e7e7; }
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: none;
  background-color: #ECF0F1;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  background-color: #ECF0F1;
}

.dropdown-menu-login { min-width: 230px; }

/* .form-group { margin: 0 0 20px 0; } */

.input-group small { }

.help-block { color: #F62459; }

.btn-default {
	background-image: none;
	background-color: #FCFCFC;
	border: #ECECEC solid 1px;
    box-shadow: none;
}
.btn-default:hover {
	background-image: none;
	background-color: #FCFCFC;
	border: #DADFE1 solid 1px;
}
.btn-primary {
	background-image: none;
	background-color: #5C97BF;
	border: #5C97BF solid 1px;
    box-shadow: none;
    transition: all .1s ease;
}
.btn-primary:hover {
	background-image: none;
	background-color: #59ABE3;
	border: #59ABE3 solid 1px;
}
.btn-primary:active {
    background-color: #5c90b8;
}

.badge {
    font-weight: normal; text-shadow: none;
    color: #007BD5 !important;
    background-color: rgba(29, 138, 217, 0.23) !important;
}
.media { border-bottom: #ECF0F1 solid 1px; }

.alert-danger { background-image: none; }
.panel-default>.panel-heading { background-image: none; background-color: #ECECEC; }

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-image: none;
  background-color: #5C97BF;
  border-color: #5C97BF;
}

.thumbnail .caption {
	padding: 10px 20px 10px 20px;
}

.news-content { margin: 0 0 100px 0; }

.footer {
	color: #BDC3C7;
	border-top: 1px solid #ECF0F1;
	padding: 20px 0 40px 0;
	margin: 40px 0 0 0;
}

@media screen and (max-width: 767px) {
	.row-offcanvas { position: relative; -webkit-transition: all .25s ease-out; -o-transition: all .25s ease-out; transition: all .25s ease-out; }
	.row-offcanvas-right { right: 0; }
	.row-offcanvas-left { left: 0; }
	.row-offcanvas-right
	.sidebar-offcanvas { right: -50%; }
	.row-offcanvas-left
	.sidebar-offcanvas { left: -50%; }
	.row-offcanvas-right.active { right: 50%; }
	.row-offcanvas-left.active { left: 50%; }
	.sidebar-offcanvas { position: absolute; top: 0; width: 50%; }
}

.head-form-error {
    padding: 5px 13px 0;
    margin-top: 9px;
    background-color: #FFE2E2;
    border: 1px solid #FFBABA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.online-pointer {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: rgba(0, 117, 255, 0.71);
    border-radius: 10px;
    margin-left: 2px;
    position: relative;
    top: -1px;
    z-index: 10;
}

.badge.badge-lod-blue,
.badge.badge-lod-gray {
    cursor: default;
    position: absolute;
    top: 11px;
    right: 9px;
    z-index: 100;
}

.badge.badge-lod-blue {
    color: #007BD5;
    background-color: rgba(29, 138, 217, 0.23);
}

.badge.badge-lod-gray {
    color: #6E6E6E !important;
    background-color: rgba(98, 98, 98, 0.23) !important;
}

.user-link {
    max-width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.profile-img-wrapper-comment,
.profile-img-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in, background 0.3s ease-in-out;
    background-repeat: no-repeat;
}

.profile-img-wrapper {
    width: 84px;
    height: 84px;
}

.profile-img-wrapper-comment {
    width: 62px;
    height: 62px;
}

.animate-ease-in {
    transition: all .1s ease-in;
}

.animate-ease-out {
    transition: all .1s ease-out;
}

.animate-ease-in-out {
    transition: all .1s ease-in-out;
}

.profile-img-wrapper-comment:hover,
.profile-img-wrapper:hover {
    border-radius: 5%;
}

.profile-img-change {
    position: absolute;
    color: #f1f1f1;
    font-size: 13px;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

.profile-img-change:hover {
    background-color: rgba(0,0,0,0.3);
}

.profile-img {
    display: inline-block;
    position: relative;
}

.profile-img:hover .profile-img-change {
    background-color: rgba(0,0,0,0.4);
}

.profile-img-iprit {
    transform: rotate(0);
    animation: object_rotation 600s infinite alternate;
    -webkit-animation: object_rotation 600s infinite alternate;
    transition: all .2s linear;
}

.profile-img-refresh {
    position: absolute;
    color: #010101;
    font-size: 18px;
    top: 27px;
    right: 25px;
    background-color: #FFF;
    border-radius: 56%;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.37);
    width: 32px;
    height: 32px;
    text-align: center;
    transform: rotate(0);
    animation: object_rotation 5s infinite alternate;
    -webkit-animation: object_rotation 5s infinite alternate;
}

@-webkit-keyframes object_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}
@keyframes object_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}

.news-date {
    margin: 10px 1px;
    color: #909090;
    font-size: 12px;
}

.comment-reply {
    padding: 2px 0 0 0;
    margin-left: 72px;
}

.comment-text {
    margin-left: 72px;
    overflow: hidden;
}

.comment-reply-selected {
    display: inline-block;
    margin-left: 3px;
    top: 1px;
    position: relative;
}

.comment-reply-remove-selected {
    cursor: pointer;
    color: #5C97BF;
    top: 2px;
    position: relative;
}

.comment-remove {
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}

.media {
    position: relative;
}

.comment-attachments {
    padding: 0 0 13px 0;
}

.comment-attachments:hover {
    color: #667;
}

.comment-overlay {
    display: block;
    width: 100%;
    box-shadow: inset 0 -12px 7px -2px #FFF;
    position: absolute;
    bottom: -1px;
    height: 14px;
}

.preview-comment .col-md-6 {
    width: 100% !important;
    padding: 0;
}